{% extends "main.html" %}

{% block maincontent %}

<div class="widget">
  <div class="alert alert-info alert-dismissable">
    <i class="icon-bell-alt"></i> You have rate for <span class="badge badge-info" id="rateCount">0</span> movies.
    <button type="button" class="btn btn-default btn-sm" id="recommendSubmit">View Recommendations</button>
  </div>
</div>

<div class="widget">
	<h3 class="section-title first-title"><i class="icon-table"></i> Movies Table</h3>
	<div class="widget-content-white glossed">
		<div class="padded shadowed-bottom">
			<table class="table table-striped table-bordered table-hover datatable">
				<thead>
					<tr>
						<th>Ratings</th>
						<th>Movie</th>
						<th>Time</th>
						<th>Cover</th>
						<th>Url</th>
					</tr>
				</thead>
				<tbody>
					{% for row in rows %}
					<tr>
						<td><div class="star" data-movie="{{row.r_movie}}"></div></td>
						<td>{{row.movie}}</td>
						<td>{{row.time}}</td>
						<td><a rel="{{row.cover}}" class="screenshot"><span class="label label-info">Preview Cover</span></a></td>
						<td><i class="icon-external-link"> </i><a href="{{row.url}}" target="_tab">View in IMDB</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>

	$(document).ready(function() {
		
		$('#recommendSubmit').hide();

		$('div.relative-w ul.side-menu li:nth-child(1)')
			.addClass('current');
			
		$('div.relative-w ul.side-menu li:nth-child(1)')
			.addClass('current');

		critics = {};
		movieRate = {};
		$.fn.raty.defaults.path = 'static/images/rates';
		$('.star').raty({
			half: true,
			cancel: true,
			click: function(score, evt) {
					userID = {{user.user_id}};
			    userScore = score;
			    userMovie = $(this).data('movie');

			    movieRate[userMovie] = userScore;
			    if ( movieRate[userMovie] == null ) {
			    	delete movieRate[userMovie]
			    }
			    critics[userID] = movieRate;
			    
			    rateCount = _.size(movieRate);
			    $('#rateCount').text(rateCount);
			    
			    if(rateCount >= 10) {
			    	$('#recommendSubmit').fadeIn();
			    } else {
			    	$('#recommendSubmit').fadeOut();
			    }
			    console.log(critics, _.size(movieRate));
			}
		});

		screenshotPreview();

	});
</script>

<script src='static/js/for_pages/table.js'></script>
<script src='static/js/preview.js'></script>

{% endblock %}