{% extends "main.html" %}

{% block maincontent %}

<div class="widget">
  <div class="alert alert-info alert-dismissable">
    <i class="icon-bell-alt"></i> You have rate for <span class="badge badge-info">10</span> movies.
    <button type="button" class="btn btn-default btn-sm">View Recommendations</button>
  </div>
</div>

<div class="widget">
	<h3 class="section-title first-title"><i class="icon-table"></i> Movies Table</h3>
	<div class="widget-content-white glossed">
		<div class="padded">
			<table class="table table-striped table-bordered table-hover datatable">
				<thead>
					<tr>
						<th>Ratings</th>
						<th>Movie</th>
						<th>Time</th>
						<th>Cover</th>
						<th>Url</th>
					</tr>
				</thead>
				<tbody>
					{% for row in rows %}
					<tr>
						<td><div class="star"></div></td>
						<td>{{row.movie}}</td>
						<td>{{row.time}}</td>
						<td><a rel="{{row.cover}}" class="screenshot"><span class="label label-info">Preview Cover</span></a></td>
						<td><i class="icon-external-link"> </i><a href="{{row.url}}" target="_tab">View in IMDB</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>

	$(document).ready(function() {
		
		$('div.relative-w ul.side-menu li:nth-child(1)')
			.addClass('current');
			
		$.fn.raty.defaults.path = 'static/images/rates';
		$('.star').raty({
			half: true,
			cancel: true,
		});
		screenshotPreview();
		
	});
</script>

<script src='static/js/for_pages/table.js'></script>
<script src='static/js/preview.js'></script>

{% endblock %}