<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel='stylesheet' href='static/css/fullcalendar.css'>
    <link rel='stylesheet' href='static/css/datatables/datatables.css'>
    <link rel='stylesheet' href='static/css/datatables/bootstrap.datatables.css'>
    <link rel='stylesheet' href='static/scss/chosen.css'>
    <link rel='stylesheet' href='static/scss/font-awesome/font-awesome.css'>   
    <link rel='stylesheet' href='static/css/app.css'>    

    <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <link href="static/favicon.ico" rel="shortcut icon">
    <link href="static/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      @javascript html5shiv respond.min
    <![endif]-->

    <style>
      input {
        display: block;
      }
    </style>

  </head>
  <body>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src='static/js/jquery.sparkline.min.js'></script>
    <script src='static/js/jquery.knob.js'></script>
    <script src='static/js/jquery.raty.min.js'></script>    

    <script src='static/js/bootstrap/tab.js'></script>
    <script src='static/js/bootstrap/dropdown.js'></script>
    <script src='static/js/bootstrap/collapse.js'></script>
    <script src='static/js/bootstrap/transition.js'></script>
    <script src='static/js/bootstrap/tooltip.js'></script>

    <script src='static/js/fullcalendar.min.js'></script>
    <script src='static/js/datatables/datatables.min.js'></script>
    <script src='static/js/chosen.jquery.min.js'></script>
    <script src='static/js/datatables/bootstrap.datatables.js'></script>
    <script src='static/js/raphael-min.js'></script>
    <script src='static/js/morris-0.4.3.min.js'></script>
    <script src='static/js/for_pages/color_settings.js'></script>
    <script src='static/js/application.js'></script>

    <div class="content">
      {% block maincontent %}
      {% endblock %}
    </div>

  </body>
</html>