{% extends "main.html" %}

{% block maincontent %}

<div class="widget">
	<h3 class="section-title more-margin"><i class="icon-tasks"></i> Recommendations</h3>
	<ul class="nav nav-pills">
		<li class="active"><a href="#tableView" data-toggle="pill">Table View</a></li>
		<li><a href="#cardView" data-toggle="pill">Card View</a></li>
	</ul>
	<div class="tab-content bottom-margin">
		
		<div class="tab-pane active" id="tableView">
			<div class="padded shadowed-bottom">
				<table class="table table-striped table-bordered table-hover datatable">
					<thead>
						<tr>
							<th>Ratings</th>
							<th>Movie</th>
						</tr>
					</thead>
					<tbody>
						{% for rec in recs %}
						<tr>
							<td>{{rec.rating}}</td>
							<td>{{rec.movie}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="tab-pane" id="cardView">
			<div class="shadowed-bottom">
				<div class="row">
					{% for rec in recs %}
					<div class="col-lg-3 col-md-4 col-sm-6 text-center">
						<div class="widget-content-blue-wrapper changed-up">
							<div class="widget-content-blue-inner padded">
								<div class="pre-value-block"><div class="star" data-score="{{rec.rating}}"></div></div>
								<div class="value-block">
									<div class="value-self">{{rec.rating}}</div>
									<div class="value-sub" style="height:30px;">{{rec.movie}}</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}					
				</div>
			</div>
		</div>
		
	</div>
</div>

<script>
	$(document).ready(function() {
		
		$('div.relative-w ul.side-menu li:nth-child(2)')
			.addClass('current');
			
		$.fn.raty.defaults.path = 'static/images/rates';
		$('.star').raty({
			readOnly: true,
		  score: function() {
		    return $(this).attr('data-score');
		  }
		});
		
	});
</script>

<script src='static/js/for_pages/table.js'></script>

{% endblock %}